*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #f1791b;
}  
nav{
    width: 80%;
    margin-inline: auto;
}  
a:link,
a:visited{
    font-weight: 100;
    padding: 30px;
    display: inline-block;
    text-align: center;
    text-decoration: initial;
    font-size: larger;
    color: #ffffff;
}
a:hover{
    color: black;
}
a:link:last-child{
    padding-right: 0;
}
.hero {
    height: 80vh;
    background-color: aliceblue;
    background-image: url("../images/water\ 1\ \(1\).jpg");
}