* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body{
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

header {
  background-color: #ffe5ce;
}
a:link,
a:visited {
  font-family: Verdana, Geneva, Tahoma, sans-serif; /*has been overriden by the font-family in the body */
  text-decoration: none;
  color: #444;
  padding: 20px;
  display: inline-block; /*Adds padding to the top, right, bottom and left */
}

a:hover {
  color: #fbb270;
}

a:link:last-child {
  padding-right: 0;
}
nav {
  width: 80%;
  /* margin-left: auto;
    margin-right: auto; */
  margin-inline: auto;
}
#header{
  color: red;
}
.header{
  color: blue; 
}
h1{
  color: olivedrab;
}
h1.header{ 
  color: purple !important; 
}
.parent{
  width: 300px;
  height: 300px;
  background-color: brown;
  margin-inline:auto;
  border: 1px solid black;

  position:relative;
}
.child{
  width: 100px;
  height: 100px;
  background-color: yellow;

  position: relative;
  top:50px;
  left: 80%;
  right: 0;
}
.parent::after{
  content: "mamama";
  display: block;
  width: 200px;
  height: 150px;
  background-color: green;  
}
